<div class="w-full max-w-md mx-auto my-8">
  <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">  
  
    <%= form_with(model: @profile, local: true) do |form| %>
      <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
          <ul>
          <% @profile.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-6">
        <%= form.label :first_name, class: "label block text-gray-700 text-sm font-bold mb-2" %></br>
        <%= form.text_field :first_name, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
      </div>
      <div class="mb-6">
        <%= form.label :last_name, class: "label block text-gray-700 text-sm font-bold mb-2" %></br>
        <%= form.text_field :last_name, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
      </div>
      <div class="mb-6">
        <%= form.label :about, class: "label block text-gray-700 text-sm font-bold mb-2" %></br>
        <%= form.text_area :about, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
      </div>
  
      <div class="mb-6"></br>
        <%= form.submit "Update profile", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>

  </div>
</div>
