<div class="bg-gray-200 p-4">
	<div class="max-w-lg mt-24 sm:max-w-xl md:max-w-2xl lg:max-w-2xl mx-auto py-2">
		<div class="bg-white flex rounded-lg shadow-lg overflow-hidden border-t-4 border-indigo-300 sm:border-0">
			<div class="p-4">
				<% if @profile.picture.attached? %>
					<%= image_tag @profile.picture, height: 100, width: 100, class:"rounded-full" %>
				<% else %>
					<%= image_tag "generic_avatar.png", height: 100, width: 100, class:"rounded-full" %>
				<% end %>
			</div>


			<div class="bg-white flex justify-between flex-col w-full">
				<h3 class="text-xl text-gray-700 font-bold p-4">

          Welcome <span class="text-indigo-500 font-bold"><%= "#{@current_user.first_name}!" %></span>
				
				</h3>
				<p class="text-gray-700 p-4"><%= @current_user.profile.about %>
				<div class="flex flex-wrap items-center">
					<div class="action w-full sm:flex-1 px-4 pt-2 pb-6">
						<%= link_to "Edit profile", edit_profile_path(@profile), class: "w-full sm:w-auto bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-400 focus:outline-none cursor-pointer" %>
					</div>
				</div>			
			</div>

		</div>
	</div>

	<div class="max-w-lg sm:max-w-xl md:max-w-4xl lg:max-w-2xl mx-auto py-2">
		<div class="mt-12">
			<h1 class="text-gray-700 text-xl border-b-2 border-gray-400 p-4">Upcoming events</h1>
		</div>
	</div>	

	<div class="bg-gray-200 max-w-lg sm:max-w-xl md:max-w-4xl lg:max-w-6xl mx-auto py-2">
		<% if current_user.bookings.empty? && current_user.is_host == false %>
		<p class="text-gray-700"><%= "You have no upcoming events" %><p>
		<% else %>
		<div class="flex flex-wrap justify-between p-4 -mx-4">
			<% @bookings.each do |booking| %>
				<div class="flex mt-12 w-full px-6 sm:w-1/2 md:w-1/2 lg:w-1/3">
					<%= link_to listing_path(@listings) do %>
					<div class="rounded-lg bg-white shadow-lg overflow-hidden">
							<% if booking.listing.picture.attached? %>
								<%= image_tag booking.listing.picture,  class:"h-64 w-full object-cover" %>
							<% else %>
								<%= image_tag "generic_avatar.png", class:"h-64 w-full object-cover" %>
							<% end %>
						<div class="p-6">
							<p class="text-gray-600 text-xs uppercase font-semibold tracking-wide"><%= booking.listing.date.strftime("%d/%m/%Y @ %-l:%M%P") %></p>
							<h4 class="font-semibold text-lg leading-tight truncate"><%= booking.listing.title %></h4>
							<p class="text-lg font-semibold text-gray-700 mt-1"><%= "$#{booking.listing.price} " %><span class="text-gray-600 text-sm"> / per person</span></p>
							<p class="mt-4 text-gray-600 text-sm"><span class="text-indigo-500 font-semibold">There are <%= "#{booking.listing.max_guests} seat(s) left "%></span>at the table</p>	
						</div>
					</div>
					<% end %>
				</div>		
				<% end  %>
			</div>
		<% end %>	
		</div>
	</div>
</div>
<div class="bg-gray-200">
	<div class="bg-gray-200 max-w-lg sm:max-w-xl md:max-w-4xl lg:max-w-6xl mx-auto py-2">
		<% if current_user.listings.empty? && current_user.is_host == true %>
		<p class="text-gray-700"><%= "You have no upcoming events" %><p>
		<% else %>
		<div class="flex flex-wrap justify-between p-4 -mx-4">
			<% @listings.each do |listing| %>
				<div class="flex mt-12 w-full px-6 sm:w-1/2 md:w-1/2 lg:w-1/3">
					<%= link_to listing_path(listing) do %>
					<div class="rounded-lg bg-white shadow-lg overflow-hidden">
							<% if listing.picture.attached? %>
								<%= image_tag listing.picture,  class:"h-64 w-full object-cover" %>
							<% else %>
								<%= image_tag "generic_avatar.png", class:"h-64 w-full object-cover" %>
							<% end %>
						<div class="p-6">
							<p class="text-gray-600 text-xs uppercase font-semibold tracking-wide"><%= listing.date.strftime("%d/%m/%Y @ %-l:%M%P") %></p>
							<h4 class="font-semibold text-lg leading-tight truncate"><%= listing.title %></h4>
							<p class="text-lg font-semibold text-gray-700 mt-1"><%= "$#{listing.price} " %><span class="text-gray-600 text-sm"> / per person</span></p>
							<p class="mt-4 text-gray-600 text-sm"><span class="text-indigo-500 font-semibold">There are <%= "#{listing.max_guests} seat(s) left "%></span>at the table</p>	
						</div>
					</div>
					<% end %>
				</div>		
				<% end  %>
			</div>
		<% end %>	
		</div>
	</div>
</div>	
