<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="flex h-screen bg-gray-200 p-4">
    <div class="sm:max-w-xl md:max-w-2xl lg:max-w-6xl w-full m-auto">
      <div class="flex items-stretch bg-white rounded-lg shadow-lg overflow-hidden border-t-4 border-indigo-500 sm:border-0">
        <div class="flex hidden overflow-hidden relative sm:block w-5/12 md:w-6/12 bg-gray-600 text-gray-300 py-4 bg-cover bg-center" style="background-image: url('https://source.unsplash.com/xJ2tjuUHD9M/300x300')"> 
          <div class="flex-1 absolute bottom-0 text-white p-10">
            <h3 class="text-4xl font-bold inline-block">Sign up</h3>
            <p class="text-gray-500 whitespace-no-wrap">
              
            </p>
          </div>
          <svg class="absolute animate h-full w-4/12 sm:w-2/12 right-0 inset-y-0 fill-current text-white" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
              <polygon points="0,0 100,100 100,0">
          </svg>
        </div>
        <div class="flex-1 p-6 sm:p-10 sm:py-12">
          <h3 class="text-xl text-gray-700 font-bold mb-6">

            Sign up <span class="text-gray-400 font-light">for free</span></h3>
          
          <div>
            <%= f.text_field :first_name, placeholder: "Name", autofocus: true, class: "input px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4" %>
          </div>
        
          <div>
            <%= f.email_field :email, placeholder: "Email", autofocus: true, autocomplete: "email",  class: "input px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4" %>
          </div>

          <div>
            <% if @minimum_password_length %>
            <span class="text-xs pl-1 text-grey-dark"><em>(<%= @minimum_password_length %> characters minimum)</em></span>
            <% end %>
            <%= f.password_field :password, placeholder: "Password", autocomplete: "current-password", class: "input px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4" %>
          </div>

          <div>
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation", autocomplete: "current-password", class: "input px-3 w-full py-2 bg-gray-200 border border-gray-200 rounded focus:border-gray-400 focus:outline-none focus:bg-white mb-4" %>
          </div>

          <div class="mb-6">
            <%= f.label :is_host, "Host", :value => true, class: "label inline text-gray-700 text-sm font-bold mb-2" %>
            <%= f.radio_button :is_host, true %>
            <span class="ml-4"><%= f.label :is_host, "Guest", :value => false, class: "label inline text-gray-700 text-sm font-bold mb-2" %></span>
            <%= f.radio_button :is_host, false, required: "required" %>
          </div>

          
          <div class="flex flex-wrap items-center">
            <div class="action w-full sm:flex-1">
              <%= f.submit "Sign up", class: "w-full sm:w-auto bg-indigo-500 text-indigo-100 px-6 py-2 rounded hover:bg-indigo-600 focus:outline-none cursor-pointer" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end  %>