  <%= form_with(model: @listing, local: true) do |form| %>
    <% if listing.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>
        <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-6">
      <%= form.label :title, class: "label block text-gray-700 text-sm font-bold" %></br>
      <%= form.text_field :title, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
    </div>
    <div class="mb-6">
      <%= form.label :description, class: "label block text-gray-700 text-sm font-bold" %></br>
      <%= form.text_area :description, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
    </div>
    <div class="mb-6">
      <%= form.label :date, class: "label block text-gray-700 text-sm font-bold" %></br>
     <span><%= form.datetime_select :date, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %></span>
    </div>
    <div class="mb-6">
      <%= form.label :max_guests, class: "label block text-gray-700 text-sm font-bold" %></br>
      <%= form.text_field :max_guests, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
    </div>
    <div class="mb-6">
      <%= form.label :price, class: "label block text-gray-700 text-sm font-bold" %></br>
      <%= form.text_area :price, class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
    </div>
    <div class="mb-6">
      <%= form.label :picture, class: "label block text-gray-700 text-sm font-bold" %></br>
      <%= form.file_field :picture, accept: "image/png,image/gif,image/jpg,image/jpeg", class:"input appearance-none block w-full bg-gray-100 text-gray-700 border border-gray-300 rounded py-3 px-4 leading-tight" %>
    </div>

    <div class="mb-6"></br>
      <%= form.submit "Create listing", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
