<div class="bg-gray-200 p-32">
	<div class="max-w-lg mt-12 sm:max-w-xl md:max-w-2xl lg:max-w-4xl mx-auto py-2">
		<div class="bg-white flex rounded-lg shadow-lg overflow-hidden border-t-4 border-indigo-300 sm:border-0">
			<div class="h-64 w-full">
				<% if @listing.picture.attached? %>
					<%= image_tag @listing.picture,  class:"object-cover object-center" %>
				<% else %>
					<%= image_tag "generic_avatar.png", class:"object-cover" %>
				<% end %>
			</div>


			<div class="bg-white flex justify-between flex-col w-full">
				<p class="text-gray-600 text-sm px-12 pt-8"><span class="text-indigo-500 font-semibold">There are <%= "#{@listing.max_guests} seat(s) left at the table"%>
				<h3 class="text-2xl text-gray-900 font-bold px-12 pt-2"><%= @listing.title %></h3>
				<p class="text-lg font-semibold text-gray-700 mt-1 px-12"><%= "$#{@listing.price} " %><span class="text-gray-600 text-sm"> / per person</span></p>
				<p class="text text-gray-800 px-12 pt-4 pb-6"><%= @listing.description %></p>
				<%# BUTTON %>
				<% if !user_signed_in?%>
					<div class="flex">
						<div class="action ml-12 mb-12">
							<div class="sm:w-auto bg-indigo-500 px-6 py-2 rounded hover:bg-indigo-400 shadow-lg focus:outline-none cursor-pointer text-sm text-white uppercase tracking-wider font-semibold sm:text-base"><%= link_to 'Sign up', new_user_registration_path %>
						</div>
					</div>
				<% end %>
				<% if user_signed_in? && current_user.is_host == false %>
						<div class="flex">
							<div class="action ml-12 mb-12">
								<div class="sm:w-auto bg-indigo-500 px-6 py-2 rounded hover:bg-indigo-400 shadow-lg focus:outline-none cursor-pointer text-sm text-white uppercase tracking-wider font-semibold sm:text-base"><%= link_to 'Reserve your seat', new_booking_path(listing: @listing)%>
							</div>
						</div>
				<% elsif user_signed_in? && current_user.is_host == true %>
					<div class="flex">
						<div class="action ml-12">
							<div class="sm:w-auto bg-indigo-500 px-6 py-2 rounded hover:bg-indigo-400 shadow-lg focus:outline-none cursor-pointer text-sm text-white uppercase tracking-wider font-semibold sm:text-base"><%= link_to 'Edit', edit_listing_path %>
						</div>
					</div>
					<div class="flex">
						<div class="action ml-2 mb-12">
							<div class="sm:w-auto bg-indigo-500 px-6 py-2 rounded hover:bg-indigo-400 shadow-lg focus:outline-none cursor-pointer text-sm text-white uppercase tracking-wider font-semibold sm:text-base">
								<%= link_to 'Cancel', @listing, method: :delete, data: { confirm: 'Are you sure?' } %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>	