<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @booking.listing.price %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.listing.date %>
</p>


<button data-stripe="payment">
  Make Payment <%= number_to_currency(@booking.listing.price) %>
</button>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>