<div class="bg-white">
	<div class="bg-white flex">
		<%# THIS IS THE WRAPPER/CONTAINER FOR LEFT-HAND CONTENT %>
		<div class="px-8 py-12 max-w-md mx-auto sm:max-w-xl lg:max-w-full lg:mx-8 lg:w-1/2 lg:py-24 lg:px-12">
			<%# THIS DIV IS FOR CONSTRAINING THE LEFT-HAND CONTENT ON EXTRA LARGE SCREENS%>
			<div class="xl:max-w-lg"> 
				<img class="mt-6 rounded-lg shadow-xl  sm:mt-8 sm:h-64 sm:w-full sm:object-cover sm:object-center lg:hidden" src="https://images.unsplash.com/photo-1528061019198-c2391f414bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Detailed image description would go here.">
				<h1 class="mt-6 text-2xl font-bold text-gray-900 leading-tight sm:mt-8 sm:text-4xl lg:text-3xl xl:text-4xl">Lorem ipsum<br class="hidden lg:inline"><span class="text-purple-500">
				More lorem lorem ipusm</span>
				</h1>
				<p class="mt-2 text-gray-600 sm:mt-4 sm:text-xl">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit, commodi vero! Esse blanditiis aut, dicta labore nostrum vel eaque assumenda, delectus neque voluptate quo saepe, eius expedita dolore repudiandae incidunt.</p>
				<div class="mt-4 sm:mt-6">
					<div class="inline-block px-5 py-3 rounded-lg shadow-lg bg-purple-500 hover:bg-purple-400 focus:outline-none focus:shadow-outline text-sm text-white uppercase tracking-wider font-semibold sm:text-base"><%= link_to "Find a table", listings_path  %></div>
				</div>
			</div>
		</div>

		<%# SECOND CONTAINER DIV. IT'S HIDDEN ON MOBILE AND TABLET %>
			<div class="hidden lg:block lg:w-1/2 lg:relative lg:mr-12 lg:mt-12 lg:-ml-8">
				<img class="absolute inset-0 h-full w-full rounded-lg shadow-lg object-cover object-center overflow-hidden" src="https://images.unsplash.com/photo-1528061019198-c2391f414bec?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Detailed image description would go here.">
			</div>
	</div>

		<div class="bg-white">
			<%# THIS IS WHAT IS SETTING THE WIDTH - I.E. IT'S THE CONTENT WRAPPER%>
			<div class="bg-white max-w-lg mt-24 sm:max-w-xl md:max-w-4xl lg:max-w-6xl mx-auto py-6">
				<%# INDIVIDUAL CARD WRAPPER/CONTAINER%>
				<div class="bg-white flex flex-wrap justify-between p-4 -mx-4">
					<%# THE CARD ITSELF %>
					<% @listings[0..5].each do |listing| %>
						<div class="flex mt-12 w-full px-6 sm:w-1/2 md:w-1/2 lg:w-1/3">
							<div class="rounded-lg bg-white shadow-lg overflow-hidden">
								<img class="w-full  object-cover" src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=60" alt="description">
								<div class="p-6">
									<p class="text-gray-600 text-xs uppercase font-semibold tracking-wide">15 November, 2019</p>
									<h4 class="font-semibold text-lg leading-tight truncate"><%= listing.title %></h4>
									<p class="text-lg font-semibold text-gray-700 mt-1"><%= "$#{listing.price} " %><span class="text-gray-600 text-sm"> / per person</span></p>
									<p class="mt-4 text-gray-600 text-sm"><span class="text-indigo-500 font-semibold">There are <%= "#{listing.max_guests} seat(s) left "%></span>at the table</p>	
								</div>
							</div>
						</div>
					<% end %>
					<div class="m-8 " >
						<p class="list-none hover:bg-indigo-500 hover:text-white rounded-lg p-2"><%= link_to "View all ", listings_path %>>></p>
					</div>
				</div>
			</div>	
		</div>
	</div>


<footer class='w-full text-center border-t border-grey p-4 pin-b'>
		This is our footer
</footer>



	